.root{
    -fx-background-image: url("bmo_bg.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-z-index:0;
}

#goButton {
    -fx-background-image: url("enter_button.png");
    -fx-background-color: transparent;
    -fx-background-repeat:no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-pref-width:589px;
    -fx-pref-height:142px;
    -fx-border: none;
    -fx-padding: 0px;
    -fx-focus-color: transparent;
    -fx-background-insets: 0;
}

#pinField {
  -fx-background-image: url("pinField.png");
  -fx-background-repeat:no-repeat;
  -fx-pref-width:589px;
  -fx-pref-height:199px;
  -fx-font-size:60px;
  -fx-padding:50px;
  -fx-color:#141366;
  -fx-display-caret: false;
  -fx-padding: 70px;
  -fx-border-insets: 70px;
  -fx-background-insets: 70px;
}

.button{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}
